{% extends 'base.html' %}

{% load i18n %}

{% block content %}
	
<div class="container">
	<h2>{% trans "Applications" %}</h2>
	<p>{% trans "This section will contain open source applications for the community to contribute." %} {% trans "If you are looking for people to assist with your project, this is the right place." %} </p>
	<p>{% trans "Feel free to upload the app you want." %} </p>

	<a href="/applications/add/" class="btn btn-success" style="margin-bottom: 15px; margin-top: 15px;">{% trans "Add" %}</a>

	<div class="table-responsive">          
		<table class="table table-striped">
		    <thead>
		      <tr>
		        <th>{% trans "Name" %}</th>
		        <th>{% trans "Description" %}</th>
		        <th>{% trans "Repository" %}</th>
		        <th>{% trans "User" %}</th>
		      </tr>
		    </thead>
		    <tbody>
		    	{% for app in apps %}
				    <tr>
				        <td><a href="/application/{{app.name}}/{{app.iduser.username}}/">{{app.name}}</a></td>
				        <td>{{app.description|safe|truncatechars:100}}</td>
				        <td><a href="{{app.repository}}" target="_blank">{{app.repository}}</a></td>
				        <td><a href="/profile/{{app.iduser.username}}/">{{app.iduser.username}}</a></td>
				    </tr>
			    {% endfor %}
		    </tbody>
		</table>
	</div>

	<ul class="pagination" style="float: right">
        <li> 
            {% if paginator.has_prev %}
            <a href="/applications/?page={{ paginator.firstPage }}"> << </a>
            <a href="/applications/?page={{ paginator.prev_page }}"> < </a>
            {% else %}
            <a style="color:gray; cursor:not-allowed"> << </a>
            <a style="color:gray; cursor:not-allowed"> < </a>
            {% endif %}                  
            {% if paginator.has_next %}
            <a href="/applications/?page={{ paginator.next_page }}"> > </a>
            <a href="/applications/?page={{ paginator.pages }}"> >> </a>
            {% else %}
            <a style="color:gray; cursor:not-allowed"> > </a>
            <a style="color:gray; cursor:not-allowed"> >> </a>
            {% endif %}
        </li>
        <p>{% trans "Page" %} <{{paginator.page}} {% trans "of" %} {{paginator.pages}}> </p>
    </ul>

</div>

{% endblock %}