{% extends 'base.html' %}

{% load i18n %}

{% block content %}
	
<div class="container">

	<h4>{% trans "Application" %}: {{app.name}}</h4>
	<div class="panel panel-default">
	  	<div class="panel-body">
	    	
	    	<h4>{% trans "Description" %}</h4>
	    	<p>{{app.description|safe}}</p>

	    	<h4>{% trans "Repository" %}</h4>
	    	<p>{{app.repository}}</p>

	    	<h4>{% trans "Username" %}</h4>
	    	<p>{{app.iduser.username}}</p>

	  	</div>
	</div>

	{% if app.iduser.id == user.id %}
		<h4>{% trans "Actions" %}</h4>
		<hr>
		<p>{% trans "These actions can only visualize you for who are responsible for implementation." %}</p>
		<a href="/application_edit/{{app.name}}/{{app.iduser.username}}" class="btn btn-success" style="margin-bottom: 15px">{% trans "Edit application" %}</a>
		<a href="/application_delete/{{app.name}}/{{app.iduser.username}}" class="btn btn-danger" style="margin-bottom: 15px">{% trans "Delete application" %}</a>
	{% endif %}

</div>

{% endblock %}