
footer {
  bottom: 0;
  width: 100%;
  height: 40px;
}

/*Margin text footer*/
.container .text-muted {
  margin: 10px 0;
}

/*Margin select lenguaje footer*/
.container #lenguage_sel {
  margin: 5px 0;
}

/*Center one form and resize width that is full screen*/
.center_div_full_screen{
    margin: 0 auto;
    width:50% 
}