{% extends 'base.html' %}

{% load i18n %}

{% block content %}
	
	<div class="container">

	    {% for message in messages %}
			{% if message.tags != "error" %}
				<div class="alert alert-success" role="alert">{{ message }}</div>
			{% else %}
				<div class="alert alert-danger" role="alert">{{ message }}</div>
			{% endif %}
		{% endfor %}

		<div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
			<div class="panel panel-default" >
	            <div class="panel-heading">
	                <div class="panel-title text-center">{% trans "Sign in" %}</div>
	            </div>     

	            <div class="panel-body">
	            	<form class="form-horizontal" action="/login/" method="POST">{% csrf_token%}
				   		{% for field in form %}
				   			{% if field.name == "user_email" %}
				   				<div class="input-group">
	                        		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				              		{{ field }}
				              	</div>
				              	{% if form.user_email.errors %}
				              		<div style="color: red">{{ form.user_email.errors|safe }}</div>
				              	{% else %}
				              		<br>
				              	{% endif %}
				            {% endif %}
				            {% if field.name == "password" %}
				            	<div class="input-group">
	                        		<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
				              		{{ field }}
				              	</div>
				              	{% if form.password.errors %}
				              		<div style="color: red">{{ form.password.errors|safe }}</div>
				              	{% else %}
				              		<br>
				              	{% endif %}
				            {% endif %}
				        {% endfor %}
				        {{ messages.errors }}
				        <div style="float: left">
				        	<button type="submit" class="btn btn-success">{% trans "Sign in" %}</button>
				        </div>
				        <div style="float: right">
				        	<a href="#" data-toggle="modal" data-target="#ModalRecover">{% trans "Forgot password?" %}</a>
				        </div> 
					</form>
					
	            </div>
	        </div>
    	</div>

    	<div class="modal fade" id="ModalRecover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		  <div class="modal-dialog"> 
		    <div class="modal-content"> 
		      <div class="modal-header"> 
		        <a href="#" data-dismiss="modal" aria-hidden="true" class="close">×</a>
		        <h4 class="modal-title">{% trans "Forgot password" %}</h4> 
		      </div> 
		      <div class="modal-body"> 
		        	
		        	<form class="form-horizontal" action="/reset_password/" method="POST">{% csrf_token%}
		        		<input type="text" name="email" class="form-control" placeholder="{% trans "Email" %}" />
		        		<br>
		        		<button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
		        	</form>

		      </div> 
		      <div class="modal-footer"> 
		        <center><p>Portal web python</p></center>
		      </div> 
		    </div> 
		  </div> 
		</div> 

	</div>

{% endblock %}