{% extends 'base.html' %}

{% load i18n %}

{% block content %}

<div class="container">
    <div id="loginbox" class="mainbox col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3"> 
		<div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">{% trans "Reset password" %}</div>
            </div>     

            <div class="panel-body">
            	<form class="form-horizontal" method="post">{% csrf_token%}
			   		{% for field in form %}
			   			{% if field.name == "email" %}
			   				<div class="input-group">
                        		<span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
			              		<input id="id_{{field.name}}" placeholder="{% trans 'Email' %}" maxlength="254" class="form-control" name="{{field.name}}" type="email">
			              	</div>
			              	{% if form.email.errors %}
			              		<div style="color: red">{{ form.email.errors|safe }}</div>
			              	{% else %}
			              		<br>
			              	{% endif %}
			            {% endif %}
			        {% endfor %}
			        {{ messages.errors }}
			        <button type="submit" class="btn btn-success">{% trans "Submit" %}</button>
				</form>
				
            </div>
        </div>
   	</div>
</div>

{% endblock %}