{% extends 'base.html' %}

{% load i18n %}
{% load tag_labels %}

{% block content %}
	
<div class="container">
	<h2>{% trans "Jobs" %}</h2>
	<p>{% trans "This section will contain the jobs loaded for the community, companies, etc." %} </p>
	<p>{% trans "Feel free to post the job you need." %} </p>

	<a href="/jobs/add/" class="btn btn-success" style="margin-bottom: 15px; margin-top: 15px;">{% trans "Add" %}</a>

	{% for job in jobs %}
	    <div class="container background_gray">
	    	<div class="row-build">
				<h3><a href="/job/{{job.idjob}}/{{job.iduser.username}}/">{{job.title}}</a></h3>
				<p>{{job.description|truncatechars:300|safe}}</p>
				<hr>
				<p><strong>{% trans "Country" %}:<strong> {{ job.country.name }} <img src="{{ job.country.flag }}" /></p>
				<p><strong>{% trans "Contact" %}:</strong> {{job.email}}</p>
				{% if job.company != "" and job.company != None %}
					<p><strong>{% trans "Published by" %}:</strong> {{job.company}}</p>
				{% else %}
					<p><strong>{% trans "Published by" %}:</strong> {{job.iduser.last_name}} {{job.iduser.first_name}}</p>
				{% endif %}
				<span class="badge">{{job.date}}</span>

				<div class="pull-right">
					{% labels job.labels %}
					<br>
					<br> 
				</div>
			</div>         
		</div>
		<br>
    {% endfor %}


	<ul class="pagination" style="float: right">
        <li> 
            {% if paginator.has_prev %}
            <a href="/jobs/?page={{ paginator.firstPage }}"> << </a>
            <a href="/jobs/?page={{ paginator.prev_page }}"> < </a>
            {% else %}
            <a style="color:gray; cursor:not-allowed"> << </a>
            <a style="color:gray; cursor:not-allowed"> < </a>
            {% endif %}                  
            {% if paginator.has_next %}
            <a href="/jobs/?page={{ paginator.next_page }}"> > </a>
            <a href="/jobs/?page={{ paginator.pages }}"> >> </a>
            {% else %}
            <a style="color:gray; cursor:not-allowed"> > </a>
            <a style="color:gray; cursor:not-allowed"> >> </a>
            {% endif %}
        </li>
        <p>{% trans "Page" %} <{{paginator.page}} {% trans "of" %} {{paginator.pages}}> </p>
    </ul>

</div>

{% endblock %}