{% extends 'base.html' %}

{% load i18n %}
{% load tag_labels %}

{% block content %}
	
<div class="container">

	<div class="container background_gray">
    	<div class="row-build">
    		<h4>{% trans "Job" %}: {{job.title}}</h4>
			<p>{{job.description|safe}}</p>
			<hr>
			<p><strong>{% trans "Country" %}:<strong> {{ job.country.name }} <img src="{{ job.country.flag }}" /></p>
			<p><strong>{% trans "Contact" %}:</strong> {{job.email}}</p>
			{% if job.company != "" and job.company != None %}
				<p><strong>{% trans "Published by" %}:</strong> {{job.company}}</p>
			{% else %}
				<p><strong>{% trans "Published by" %}:</strong> {{job.iduser.last_name}} {{job.iduser.first_name}}</p>
			{% endif %}
			<span class="badge">{{job.date}}</span>

			<div class="pull-right">
				{% labels job.labels %}
				<br>
				<br> 
			</div>
		</div>         
	</div>

</div>

{% endblock %}