{% extends 'base.html' %}

{% load i18n %}
{% load tag_labels %}

{% block content %}
	
<div class="container">

	<div class="container background_gray">
    	<div class="row-build">
    		<h4>{% trans "Job" %}: {{job.title}}</h4>
			<p>{{job.description|safe}}</p>
			<hr>
			<p><strong>{% trans "Country" %}:</strong> {{ job.country.name }} <img src="{{ job.country.flag }}" /></p>
			<p><strong>{% trans "Contact" %}:</strong> {{job.email}}</p>
			{% if job.company != "" and job.company != None %}
				<p><strong>{% trans "Published by" %}:</strong> {{job.company}}</p>
			{% else %}
				<p><strong>{% trans "Published by" %}:</strong> {{job.iduser.last_name}} {{job.iduser.first_name}}</p>
			{% endif %}
			<span class="badge">{{job.date}}</span>

			<div class="pull-right">
				{% labels job.labels %}
				<br>
				<br> 
			</div>
		</div>         
	</div>

	{% if job.iduser.id == user.id %}
		<h4>{% trans "Actions" %}</h4>
		<hr>
		<p>{% trans "These actions can only visualize you for who are responsible for implementation." %}</p>
		<a href="/job_edit/{{job.idjob}}/{{job.iduser.username}}" class="btn btn-success" style="margin-bottom: 15px">{% trans "Edit job" %}</a>
		<a class="btn btn-danger" style="margin-bottom: 15px; cursor: pointer" data-toggle="modal" data-target="#myModal">{% trans "Delete job" %}</a>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">{% trans "Delete job" %}</h4>
		      </div>
		      <div class="modal-body">
		        {% trans "Do you want to remove the job?" %}
		      </div>
		      <div class="modal-footer">
		        <form accept-charset="UTF-8" action="/job_delete/{{job.idjob}}/{{job.iduser.username}}/" method="GET">
		        	<input type="submit" class="btn btn-danger" value='{% trans "Delete" %}' />
		   		</form>
		      </div>
		    </div>
		  </div>
		</div>

	{% endif %}

</div>

{% endblock %}