{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
	
<div class="container">
	<div class="row">
		<div class="col-md-4 bg_blur ">
    	    
            {% if profile.photo %}
                <img src="{{MEDIA_URL}}{{profile.photo}}" class="img-thumbnail picture hidden-xs" width="150" hegiht="150" />
            {% else %}
                <img src="{% static 'img/profile.png' %}" class="img-thumbnail picture hidden-xs" width="150" hegiht="150" />
            {% endif %}

            <div class="header">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                <h4>{{ profile.location }}</h4>
                <h4>{{ profile.company }}</h4>
                <h4>{{ user.date_joined }}</h4>
            </div>

            <a href="/edit_profile/" class="btn btn btn-success">{% trans "Edit profile" %}</a>

		</div>
        <div class="col-md-8  col-xs-12">

            <h3>{% trans "Contributions" %}</h3>

        </div>
    </div>   
    
</div>


{% endblock %}