{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block content %}
	
<div class="container">
	<div class="row">
		<div class="col-md-4 bg_blur ">
    	    
            {% if profile.photo %}
                <img src="{{MEDIA_URL}}{{profile.photo}}" class="img-thumbnail picture hidden-xs" width="150" hegiht="150" />
            {% else %}
                <img src="{% static 'img/profile.png' %}" class="img-thumbnail picture hidden-xs" width="150" hegiht="150" />
            {% endif %}

            <div class="header">
                <h1>{{ profile.iduser.first_name }} {{ profile.iduser.last_name }}</h1>
                <h4>{{ profile.location }}</h4>
                <h4>{{ profile.company }}</h4>
                <h4>{{ profile.iduser.date_joined }}</h4>
            </div>

            {% if profile.iduser.id == user.id %}
                <a href="/settings/edit_profile/" class="btn btn btn-success">{% trans "Edit profile" %}</a>
            {% endif %}

		</div>
        <div class="col-md-8  col-xs-12">

            <h3>{% trans "About me" %}</h3>
            <hr>
            <div class="panel panel-default">
                <div class="panel-body">
                    {{ profile.about|safe }}
                </div>
            </div>
                        
            <h3>{% trans "Contributions" %}</h3>
            <hr>

        </div>
    </div>   
    
</div>


{% endblock %}