{% extends 'base.html' %}

{% load i18n %}
{% load static %}

{% block extra_js %}
    {{ form.media.js }}
{% endblock %}

{% block content %}

<div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-3">
          <div class="panel-group" id="accordion">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse"><span class="glyphicon glyphicon-folder-close">
                    </span> {% trans "Settings" %}</a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <ul class="list-group">

                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span>
                        <a href="/settings/edit_profile/">{% trans "Edit profile" %}</a>
                    </li>


                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <a href="/settings/admin/">{% trans "Password" %}</a>
                    </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-9 col-md-9">
            {% if request.path == "/settings/edit_profile/" %}
                {% include "profiles/edit_profile.html" %}
            {% elif request.path == "/settings/admin/" %}
                {% include "profiles/admin.html" %}
            {% endif %}
        </div>
      </div>
    </div>
	
{% endblock %}