{% extends 'base.html' %}

{% load i18n %}
{% load hitcount_tags %}

{% block extra_js %}
<script type="text/javascript">
    $('[data-toggle="tooltip"]').tooltip();   
</script>
{% endblock %}

{% block content %}
	
<div class="container">

	{% get_hit_count_js_variables for forum as hitcount %}
	{% get_hit_count for forum as total_hits %}

	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>{% trans "Forum" %}: {{forum.name}}</h4>
			{% if total_hits|add:"0" > 1 %}
			<p>{% trans "This forum has" %} {{ total_hits }} {% trans "views" %}</p>
			{% else %}
			<p>{% trans "This forum has" %} {{ total_hits }} {% trans "view" %}</p>
			{% endif %}
		</div>
	  	<div class="panel-body">
	    	<p>{{forum.description|safe}}</p>
    		<a href="/newtopic/{{forum.name}}/" class="btn btn-success">{% trans "New topic" %}</a>
    		<hr>
    		<div class="table-responsive">          
				<table class="table table-striped">
				    <thead>
				      <tr>
				        <th>{% trans "Title" %}</th>
				        <th>{% trans "Description" %}</th>
				        <th>{% trans "Username" %}</th>
				        <th>{% trans "Date" %}</th>
				      </tr>
				    </thead>
				    <tbody>
				    	{% for topic in topics %}
						    <tr>
						        <td><a href="/topic/{{forum.name}}/{{topic.slug}}/{{topic.idtopic}}/" 
						        	data-toggle="tooltip" data-placement="bottom" title="Total post: {{forum.topics_count}}">
						        	{{topic.title}}
						        </a></td>
						        <td>{{topic.description|safe|truncatechars:100}}</td>
						        <td><a href="/profile/{{topic.user.username}}">{{topic.user.username}}</a></td>
						        <td>{{topic.date}}</td>
						    </tr>
					    {% endfor %}
				    </tbody>
				</table>
			</div>

			<div class="pull-left">
				<b>{% trans "Topics" %}: {{forum.topics_count}}</b>
				<br>
				<p>{% trans "Created" %}: {{forum.date}}</p>
				
			</div>

			<ul class="pagination" style="float: right">
		        <li> 
		            {% if paginator.has_prev %}
		            <a href="/forum/{{forum.name}}/?page={{ paginator.firstPage }}"> << </a>
		            <a href="/forum/{{forum.name}}/?page={{ paginator.prev_page }}"> < </a>
		            {% else %}
		            <a style="color:gray; cursor:not-allowed"> << </a>
		            <a style="color:gray; cursor:not-allowed"> < </a>
		            {% endif %}                  
		            {% if paginator.has_next %}
		            <a href="/forum/{{forum.name}}/?page={{ paginator.next_page }}"> > </a>
		            <a href="/forum/{{forum.name}}/?page={{ paginator.pages }}"> >> </a>
		            {% else %}
		            <a style="color:gray; cursor:not-allowed"> > </a>
		            <a style="color:gray; cursor:not-allowed"> >> </a>
		            {% endif %}
		        </li>
		        <p>{% trans "Page" %} <{{paginator.page}} {% trans "of" %} {{paginator.pages}}> </p>
		    </ul>
	  	</div>
	</div>

</div>

{% endblock %}

{% block hitcount_javascript %}
{% insert_hit_count_js_variables for forum %}
{% endblock %}