{% load i18n %}
{% load forum_filter %}

<li class="dropdown without-style-list btn pull-right">
  	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
  		<span class="glyphicon glyphicon-envelope"></span> {% trans "Notifications" %}
		<span class="caret"></span>
  	</a>
  	<ul class="dropdown-menu dropdown-cart" role="menu">
  		{% for notification in notifications|slice:"5" %}
  			<li class="item-notification">
		        <span class="item">
		            <span class="item-left">
		            	{% if notification.is_view %}
							{{notification|get_item_notification|safe}}
		            	{% else %}
							{{notification|get_item_notification|safe}}
		            	{% endif %}
		            </span>
		        </span>
		    </li>
  		{% endfor %}
        <li class="divider"></li>
        <li><a class="text-center" href=""><span class="without-text-transform">{% trans "All" %}</span></a></li>
  	</ul>
</li>
