{% extends 'base.html' %}

{% load i18n %}
{% load static %}


{% block content %}
	
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h2>{% trans "Forum" %}: {{topic.forum.name}}</h2>
        <p>{{topic.forum.description}}</p>
        <hr>
        <section class="comment-list">
          <!-- First Comment -->
          <article class="row">
            <div class="col-md-2 col-sm-2 hidden-xs">
              <figure class="thumbnail">
              	{% if profile.photo %}
	                <img src="{{MEDIA_URL}}{{profile.photo}}" class="img-responsive" width="150" hegiht="150" />
	            {% else %}
	                <img src="{% static 'img/profile.png' %}" class="img-responsive" width="150" hegiht="150" />
	            {% endif %}
                <figcaption class="text-center"><a href="/profile/{{profile.iduser.username}}/">{{topic.user.username}}</a></figcaption>
              </figure>
              <a href="/edit_topic/{{topic.forum.name}}/{{topic.idtopic}}/" class="btn btn-success btn-xs">{% trans "Edit topic" %}</a>
              <a style="cursor: pointer" data-toggle="modal" data-target="#myModal" class="btn btn-danger btn-xs">{% trans "Delete topic" %}</a>
            </div>
            <div class="col-md-10 col-sm-10">
              <div class="panel panel-default arrow left">
                <div class="panel-body">
                  <header class="text-left">
                    <h4><i class="fa fa-clock-o"></i> {{topic.title}}</h4>
                  </header>
                  <div class="comment-post">
                    <p>
                      {{topic.description|safe}}

                      {% if topic.attachment %}
                        <img src="{{MEDIA_URL}}{{topic.attachment}}" class="img-responsive" />
                      {% endif %}
                    </p>
                  </div>
                  <hr>
                  <p class="pull-right">{{topic.date}}</p>
                </div>
              </div>
            </div>
          </article>
        </section>
    </div>
  </div>
</div>

{% if topic.user.id == user.id %}

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">{% trans "Delete topic" %}</h4>
          </div>
          <div class="modal-body">
            {% trans "Do you want to remove the topic?" %}
          </div>
          <div class="modal-footer">
            <form accept-charset="UTF-8" action="/delete_topic/{{topic.forum.name}}/{{topic.idtopic}}/" method="GET">
              <input type="submit" class="btn btn-danger" value='{% trans "Delete" %}' />
          </form>
          </div>
        </div>
      </div>
    </div>

{% endif %}

{% endblock %}